@import "tailwindcss";



@theme {
  --color-primary-blue: #030F21;
  --color-secondary-blue: #04142A;
  --color-custom-white: #D1D8E0;
  --color-custom-blue: #1D4FDA;
  --color-accent-blue: #4E9BFF;

}

:root {
  font-family: "Inter", sans-serif;

  color: rgba(255, 255, 255, 0.87);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  /* Custom Chat Scrollbar */

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.5)
  );
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}


/* Marquee Effect for Long Text */
.marquee-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%; 
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  .marquee-text {
    animation: none;
    padding-left: 0;
    transform: translateX(0);
  }
}