@import "tailwindcss";



@theme {
  --color-primary-blue: #030F21;
  --color-secondary-blue: #04142A;
  --color-custom-white: #D1D8E0;
  --color-custom-blue: #1D4FDA;

}

:root {
  font-family: "Inter", sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #030F21;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

